.about {
  padding-bottom: 117px;

  @include vp-1023 {
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-bottom: 81px;
  }
}

.about__container {
  position: relative;
}

.about__wrapper {
  padding-left: 250px;

  @include vp-1023 {
    padding-left: 175px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.about__title {
  font-family: $ff-secondary;
  color: $color-black-pearl;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 8px;
  }
}

.about__description {
  line-height: 22px;
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about__description:not(:first-of-type) {
  margin-top: 20px;
}

.about__hidden-text {
  display: none;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px;
  }
}

.about__img {
  position: absolute;
  left: 18px;
  top: 0;

  @include vp-1023 {
    position: absolute;
    left: 46px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__button {
  min-width: 180px;
  color: $color-deep-sky-blue;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  margin-top: 38px;
  padding: 14px 40px;

  &:hover {
    border-color: $color-black-pearl;
    color: $color-black-pearl;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1023 {
    margin-top: 16px;
  }

  @include vp-767 {
    margin-top: 13px;
    padding: 8px 15px;
    min-width: 160px;
  }
}

.about__hidden-mobile-text {
  @include vp-767 {
    display: none;
  }
}
