.feedback {
  background-color: $color-deep-sky-blue;
  background-image: linear-gradient(139.5deg, rgba(4, 24, 39, 0.5) 33.5%, $color-deep-sky-blue 33.6%);
  padding-top: 168px;
  padding-bottom: 243px;
  position: relative;

  @include vp-1023 {
    background-image: none;
    padding-top: 45px;
    padding-bottom: 125px;
  }

  @include vp-767 {
    padding-bottom: 88px;
  }
}

.feedback__background {
  position: absolute;
  top: 246px;
  width: 510px;
  height: 285px;

  @include vp-1279 {
    width: 383px;
    height: 214px;
    transform: translate(20%, 10%);
  }

  @include vp-1023 {
    display: none;
  }
}

.feedback__wrapper {
  padding-left: 51.6%;
  padding-right: 12px;

  @include vp-1023 {
    padding: 0;
  }
}

.feedback__title {
  font-family: $ff-secondary;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 9px;
  }
}

.feedback__description {
  display: block;
  color: $color-default-white;
  line-height: 22px;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}
